
@font-face{
	
	font-family:muli;
	src:url('FONTS/muli/Muli.ttf');
}
	
@font-face{
	
	font-family:semibold;
	src:url('FONTS/muli/Muli-SemiBold.ttf');	
}
*{
	margin:0;
	padding:0;
}
body{
	font-family:muli;
	color:white;
		
}

header img{
	float:left;
	
}

header{
		background-color: #323c48;
	width:100%;
	height:auto;
	

}
img{
	height:40px;
}
#top{
	font-family:semibold;
	width:100%;
		padding-top:1%;
	padding-bottom:2%;
	font-size:22px;
	margin-left:110px;


	
}

#bottom{
	text-align:center;
	background-image:url('IMG/bg2.jpg');
	background-repeat:no-repeat;
	height:auto;
	font-size:60px;
		padding-top:2%;
	padding-bottom:15%;
	text-shadow:3px 3px grey;
		background-size:108%;
}
p#bottom{
	padding-top:20px;
}

main{
	width:100%;
	 text-align:center;
	background-image:url('IMG/bg2.png');

	font-family:semibold;
	font-size:25px;
	color: #323c48;
	font-weight:bold;
	height:350px;
}

main p{
	text-align:center;
}

#logo2{
	height:60px;
	width:70px;
}

span{
	font-size:53px;
	font-weight:bolder;
}
#titletext{
	
	text-align:center;
	width:80%;
	float:left;
	padding-top:5%;
}
h1{
	float:left;
		padding-bottom:1px;
}



#tekscior{
	color:grey;
	
}

nav{
	font-family:semibold;
	text-transform:uppercase;
	color:#61ded0;
    text-decoration:none;
	width:20%;
		float: right;
		/*position: relative;
		right: 72px;
		bottom: 130px;*/
	
	
	
}
ul{
	
	list-style-type:none;
    text-decoration:none;
}

nav li{
	border:3px solid #61ded0;
		background-color:#323c48;
		color:#61ded0;
	 text-decoration:none;
	 list-style-type:none;
	 text-align:center;
	 		 text-align:center;
	 margin-bottom: 4px;
		padding: 5px;
		width: 100%;
		font-size: 20px;
	 
}
nav li:hover{
       
		background-color:#61ded0;
		color:#323c48;
		border: 3px solid #323c48;
		cursor: default;
	}
	
	

a{
	text-decoration:none;
		color:#61ded0;
}

footer{
	
	border-top:5px solid #61ded0;
    	background-color: #323c48;
	width:100%;
	height:590px;
	padding-bottom:11%;
}

#products{
		width: 20%;
		margin-left: 5%;
		margin-top: 50px;
		float: left;
		color: white;
		padding:7px;
}

#support{
    		width: 20%;
		margin-left: 5%;
		margin-top: 50px;
		float: left;
		color: white;
		padding:7px;
}
#downloads{
	width: 20%;
		margin-left: 5%;
		margin-top: 50px;
		float: left;
		color: white;
		padding:7px;
}
footer input{
		background-color: #323c48;
		color: white;
		font-size: 22px;
		border: 0;
		border-bottom: 2px solid gray;
	}
	footer button{
		font-size: 22px;
		background-color: #61ded0;
		height: 40px;
		padding-left: 22px;
		padding-right: 22px;
		margin-left: 5px;
		border: 0;
	}
#media{

margin-top:50px;
position: relative;
		
}

#list{
	height:78%;
	width:42%;
	background-color:white;
	float:left;
}