body{
	
	width:1000px;
	background-color:#93b8de ;
	font-family:Trebuchet MS;
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
	scan:progressive;
}
footer{
	text-transform:uppercase;
	text-align:center;
	background-image:url("img/dol.png");
   background-repeat:repeat-x;
	width:1506px;
	height:100px;
	 position:absolute;
	margin-top:30px;
	margin-left:-65px;
	float:left;
	
	
}

header{
	
	width:1500px;
	height:552px;

	margin-top:-11px;
	margin-left:-65px;
	background-image:url("img/strona-bkg.png");
  
	
}

#hedzio{
	
margin-bottom:20px;
margin-left:295px;
	float:left;
}

#ikony{
	
	margin-bottom:20px;
	float:right;
	margin-right:198px;
	
}

#ikcio{
	margin-top:92px;
	float:left;
	margin-left:-442px;
}

td{
height:100px;
	text-transform:uppercase;
	font-weight:bold;
   color:#C0C0C0;
	
}

td:hover{
		
		background-image:url("img/on.png");
	   background-repeat:no-repeat;
		color:white;
	
}
table{
	float:left;
     top:10px;
}

nav{
	
		float:left;
		margin-right:135px;
		margin-left:190px;
		margin-top:-30px;
	width:1500px;
	height:103px;
	
}

table{
	margin-left:155px;
	margin-top:-23px;
}

#home1{
	
	width:13px;
	height:11px;
	float:right;
	margin-right:580px;
	margin-bottom:22px;
	background-image:url("img/ikony/home-off.gif");
	background-repeat:no-repeat;
}
#home1:hover{
	background-image:url("img/ikony/home-on.gif");
	background-repeat:no-repeat;
		width:13px;
	height:11px;
	float:right;
	margin-right:580px;
	margin-bottom:22px;
	
}
#email{
	
	width:13px;
	height:11px;
	float:right;
	margin-right:540px;
	margin-top:-38px;
		background-image:url("img/ikony/email-off.gif");
	background-repeat:no-repeat;
}

#email:hover{
	background-image:url("img/ikony/email-on.gif");
	background-repeat:no-repeat;
	
}

#map{
	width:13px;
	height:11px;
	float:right;
	margin-right:492px;
	margin-top:-38px;
		background-image:url("img/ikony/map-off.gif");
	background-repeat:no-repeat;
}
#map:hover{
	background-image:url("img/ikony/map-on.gif");
	background-repeat:no-repeat;
	
}
#print{
	width:13px;
	height:11px;
	float:right;
	margin-right:450px;
	margin-top:-38px;
		background-image:url("img/ikony/print-off.gif");
	background-repeat:no-repeat;
}
#print:hover{
	background-image:url("img/ikony/print-on.gif");
	background-repeat:no-repeat;
		
}
#kolumna1{
	width:460px;
	height:760px;
	
		float:left;
	
	margin-left:148px;
	margin-bottom:110px;
}
#kolumna2{
		
		width:600px;
	height:760px;
	margin-left:670px;
	margin-top:-440px;

}
#prawy{
	 font-family: 'Times New Roman';
	text-transform: Capitalize;
	font-variant: small-caps;
	font-size: 25px;
	text-align: right;
	margin-right: 10px;
    width:600px;
	
	
}
hr{
	margin: 0px;
	border:2px double solid black;
	
}
#obraz1{
	width:200px;
	height:149px;
	border:8px solid white;
	
}

#obraz2{
	
		width:200px;
	height:149px;
	border:8px solid white;
	margin-top:10px;
	
}

#obraz3{
	
			width:200px;
	height:149px;
	border:8px solid white;
	margin-top:10px;
	
}

#obraz4{
	
			width:200px;
	height:149px;
	border:8px solid white;
	margin-left:10px;
      float:right;
	margin-top:-514px;

	
}
#obraz5{
	
			width:200px;
	height:149px;
	border:8px solid white;
	margin-left:10px;
	margin-top:-340px;
      float:right;
	
	
}
#obraz6{
	
			width:200px;
	height:149px;
	border:8px solid white;
	margin-left:10px;
	margin-top:-340px;
      float:right;
		
	
}
#obraz7{
		width:200px;
	height:149px;
	border:8px solid white;
	margin-left:10px;
	margin-top:-164px;
      float:right;
	  
	
}

#obraz8{
		width:200px;
	height:149px;
	border:8px solid white;

	
      float:left;
	  margin-top:10px;
	
	
}

#obraz9{
		width:200px;
	height:149px;
	border:8px solid white;

	
      float:right;
	  margin-top:10px;
	 
	
}
#obraz1:hover{
	
	border:8px solid  #c8e3ff;
	
}

#obraz2:hover{
	
	border:8px solid  #c8e3ff;
	
}

#obraz3:hover{
	
	border:8px solid  #c8e3ff;
	
}
#obraz4:hover{
	
	border:8px solid  #c8e3ff;
	
}

#obraz5:hover{
	
	border:8px solid  #c8e3ff;
	
}

#obraz6:hover{
	
	border:8px solid  #c8e3ff;
	
}
#obraz7:hover{
		border:8px solid  #c8e3ff;
}
#obraz8:hover{
		border:8px solid  #c8e3ff;
}

#obraz9:hover{
	
		border:8px solid  #c8e3ff;
	
}
form{
	color:white;
	margin:auto;
}
input{
	float:left;
	margin-top:-29px;
}
button{
	
	position: relative;
	top: 10px;
	left: 25%;
	
	color:#0000FF;
	
}
#navi:hover{
	color:white;

}
p{
	color:white;
	position:absolute; top:100px;
	
}